{% extends "layout.html" %}

{% block title %}Change Password{% endblock %}

{% block main %}
<form action="/change-password" method="post" class="form-group">
    <div class="mb-3">
        <label for="old_password">Current Password:</label>
        <input type="password" class="form-control" name="old_password" required>
    </div>
    <div class="mb-3">
        <label for="new_password">New Password:</label>
        <input type="password" class="form-control" name="new_password" required>
    </div>
    <div class="mb-3">
        <label for="confirmation">Confirm New Password:</label>
        <input type="password" class="form-control" name="confirmation" required>
    </div>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
{% endblock %}
